<div class="tooltip ref_tooltip" role="tooltip">
    <figure class="ref_figure">
        {{#if has_image}}
            <img class="ref_image" src="{{image_url}}" alt="{{image_alt}}">
        {{/if}}
        <figcaption class="ref_caption">{{summary}}</figcaption>
    </figure>
</div>