* {
    color: white;
}

html {
    font-size: 18px;
    font-family: pt-sans-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
}

h1, h2, h3 {
    font-family: bree, sans-serif;
    margin-bottom: 10px;
}

h1 {
    font-size: 3.2rem;
    font-weight: 400;
}

h1 sup {
    font-size: 1.6rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 300;
}

h2.section_header {
    font-weight: 400;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

h4 {
    font-size: 1.6rem;
}

h5, .summary_wrapper, .link_to_summary_or_refs {
    font-size: 1.4rem;
}

p, .full_ref_wrapper, .full_ref_link, .full_ref_citation {
    font-size: 1.2rem;
}

.ref_caption, .info_fig_caption {
    font-size: 1rem;
    color: black;
}

.info_fig_title {
    color: black;
}

p .custom_image_text, .custom_info_fig_caption {
    color: white;
}

.info_caption {
    font-size: 0.8rem;
}

.main_title, .section_header, .ref_caption {
    text-align: center;
}

.full_ref_wrapper {
    margin-bottom: 20px;
}

.summary_wrapper {
    margin-bottom: 10px;
}

.link_to_summary {
    font-size: 1.4rem;
}

.custom_image_text {
    color: white;
}
