.tooltip_wrapper {
    position: relative;
    border-radius: 10px;
}

.tooltip {
    display: none;
    position: relative;
    text-align: center;
}

[role="tooltip"] {
    display: none;
    position: absolute;
    z-index: 999;
    transition: opacity 0.3s;
}

.ref_tooltip {
    width: 120px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.info_tooltip {
    width: 200px;
    top: 85%;
    right: 0;
    /*transform: translateX(50%);*/
}

.ref_figure, .info_caption {
    border-radius: 5px;
    padding: 5px;
}

.ref_figure, .ref_arrow {
    background: white;
}

.info_caption, .info_arrow {
    background: black;
}

.ref_image {
    width: 100%;
}

/*.info_tooltip {*/
/*    width: 300px;*/
/*}*/