/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 versions
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 12px;
    background-color: #333;
    scroll-behavior: smooth;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    width: 360px;
}

.problem_list {
    margin-bottom: 50px;
}

ul {
    margin-left: 10px;
    width: 100%;
}

#title_section {
    min-height: 100vh;
}

#references {
    background-color: black;
    margin-bottom: 100px;
    border-radius: 5px;
}

.title_wrapper {
    margin: 10px auto;
}

.summary_wrapper {
    margin-left: 20px;
    margin-right: 20px;
}
main {
    position: relative;
}
.nav_bar {
    position: sticky;
    top: 0;
    z-index: 2000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
    background-color: #333;
}

.link_to_summary_or_refs {
    margin: 0 10px;
}

.summary_header, .full_ref_wrapper {
    width: 100%;
}

.full_ref_citation {
    display: inline;
    margin-left: 5px;
    margin-bottom: 20px;
}

.main_title {
    margin: 5px auto;
    width: 300px;
}

* {
    color: white;
}

html {
    font-family: pt-sans-pro, sans-serif;
    font-weight: 100;
    font-style: normal;
}

h1, h2, h3 {
    font-family: bree, sans-serif;
    margin-bottom: 10px;
}

h1 {
    font-size: 3.2rem;
    font-weight: 400;
}

h1 sup {
    font-size: 1.6rem;
}

h2 {
    font-size: 2.4rem;
    font-weight: 300;
}

h2.section_header {
    font-weight: 400;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

h4 {
    font-size: 1.6rem;
}

h5, .summary_wrapper, .link_to_summary_or_refs {
    font-size: 1.4rem;
}

p, .full_ref_wrapper, .full_ref_link, .full_ref_citation {
    font-size: 1.2rem;
}

.ref_caption, .info_fig_title {
    font-size: 1rem;
    color: black;
}

p .custom_image_text {
    color: white;
}

.info_caption {
    font-size: 0.8rem;
}

.main_title, .section_header, .ref_caption {
    text-align: center;
}

.full_ref_wrapper {
    margin-bottom: 20px;
}

.summary_wrapper {
    margin-bottom: 10px;
}

.link_to_summary {
    font-size: 1.4rem;
}

.custom_image_text {
    color: white;
}

.tooltip_wrapper {
    position: relative;
    border-radius: 10px;
}

.tooltip {
    display: none;
    position: relative;
    text-align: center;
}

.arrow {
    position: relative;
    z-index: 998;
    -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%);
    clip-path: polygon(50% 0, 100% 100%, 0 100%);
    width: 20px;
    height: 10px;
}

.ref_arrow {
    left: 50px;
}

.info_arrow {
    /*left: 90%;*/
}

[role="tooltip"] {
    display: none;
    position: absolute;
    z-index: 999;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.ref_tooltip {
    width: 120px;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.info_tooltip {
    width: 200px;
    top: 85%;
    right: 0;
    /*transform: translateX(50%);*/
}

.ref_figure, .info_caption {
    border-radius: 5px;
    padding: 5px;
}

.ref_figure, .ref_arrow {
    background: white;
}

.info_caption, .info_arrow {
    background: black;
}

.ref_image {
    width: 100%;
}

.info_fig {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.custom_image {
    background-color: black;
}

.info_fig_small {
    width: 240px;
}

.info_fig_large {
    width: 340px;
}

.info_fig_image_small {
    width: 220px;
}

.info_fig_image_large {
    width: 320px;
}

.info_fig_caption, .custom_info_fig_caption{
    margin: 0 10px;
    padding: 2px;
}

.info_fig_caption {
    color: black;
}

.custom_info_fig_caption {
    color: white;
}

/*@media screen and (min-width: 600px) {*/
/*    html {*/
/*        font-size: 12px;*/
/*    }*/
/*}*/


@media screen and (min-width: 800px) {
    html {
        font-size: 14px;
    }
    section {
        width: 680px;
    }
    .main_title {
        width: 440px;
    }
    .info_fig_large {
        width: 600px;
    }
    .info_fig_small {
        width: 380px;
    }
    .info_fig_image_large {
        width: 580px;
    }
    .info_fig_image_small {
        width: 360px;
    }
    [role="tooltip"] {
        width: 180px;
    }
    .ref_arrow {
        left: 80px;
    }
    .nav_bar {
        top: 96.8%;
    }
}


@media screen and (min-width: 1080px) {
    html {
        font-size: 12px;
    }
    section {
        width: 920px;
    }
    .main_title, .info_fig {
        width: 800px;
    }
    .info_fig_large {
        width: 800px;
    }
    .info_fig_small {
        width: 660px;
    }
    .info_fig_image_large {
        width: 780px;
    }
    .info_fig_image_small {
        width: 640px;
    }
    [role="tooltip"] {
        width: 240px;
    }
}